/*body{
	background: #C0F8D1;
}

.container{
	
}

form{
	width: 500px;
	margin: auto;
	background: #BDCFB5;
	padding: 8px;
}

.form-row{
	padding: 10px 0;
	display: flex;
}

.form-row input{
	flex: 1;
}

.form-row label{
	padding-right: 10px;
}

.column-layout{
	background: #BDCFB5;
	margin:	30px auto;
	padding: 10px;
	display: flex;
}
.main{
flex: 3;
order: 2;
}

.sidebar1{
	flex: 1;
	order: 1;
}

.sidebar2{
	flex: 1;
	order: 3;
}

.main, .sidebar1, .sidebar2{
	margin-right: 10px;
}

.horizontal-columns{
	margin:	30px auto;
	padding: 10px;
}

@media (min-width: 500px){
	.horizontal-columns{
	display: flex;
	justify-content: space-between;
	}

}

.feature1, .feature2, .feature3{
	padding: 5px;
	flex-basis: 32%;
	box-sizing: border-box;
}

.feature1{
	background: #482728;	
}

.feature2{
	background: #7E4E60;
}

.feature3{
	background: #B287A3;
}

.equal-columns{
	max-width: 1400px;
	display: flex;
}

.col1{
	flex: 1;
	background: #BDCFB5;
}

.col2{
	flex: 1;
	display: flex;
	flex-direction: column;
}

.col2-row1{
	background: #7E4E60;
	flex: 1;
}

.col2-row2{
	background: #B287A3;
	flex: 1;
}
*/

section{
	display: flex;
}
.center-x{
	display: flex;
	justify-content: center;
}

.around{
	display: flex;
	justify-content: space-around;
}

.between{
	display: flex;
	justify-content: space-between;
}

.start{
	display: flex;
	justify-content: flex-start;
}

.end{
	display: flex;
	justify-content: flex-end;
}

.last{
	order: 1;
}

.first{
	order: -1;
}

.reverse{
	display: flex;
	flex-direction: row-reverse;
}